html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
}

h1 {
  font-size: 100%;
  margin: 0;
}

.router-view {
  height: 100%;
}

*:focus {
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}