body {
  overflow: hidden;
  height: 100vh;
}

* {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, .15s filter ease-in-out !important;
}

.router-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.rt-fade {
  opacity: 0;
  transition: opacity 0s linear;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}

.fade-enter-first {
  position: static;
  transition-duration: 0s !important;
}

.rt-fade-enter {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.rt-fade-enter-done {
  opacity: 1;
}

.rt-fade-exit {
  opacity: 0;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.mw-0 {
  min-width: 0px !important;
}

.bg-dark-accent {
  background-color: #282c31 !important;
  border: 0 !important;
}

.bg-light-accent {
  background-color: #f3f4f5 !important;
  border: 0 !important;
}

.big-text {
  font-size: 1.5rem !important;
}
