$background: #fff;

$primary: #2979ff;
$secondary: #3DD882;
$tertiary: #fff;
$negative:#F86734;
$plain: $background;
$disabled: #aaa;

$on-primary: #fff;
$on-secondary: #000;
$on-tertiary: #3DD882;
$on-negative:#fff;
$on-plain: $primary;

$mad: $negative;
$sad: $primary;
$glad: $secondary;
