$background: #fff;

$primary: #2979ff;
$secondary: #3DD882;
$tertiary: #ffff00;
$negative:#ff0000;
$plain: $background;
$disabled: #aaa;

$on-primary: #fff;
$on-secondary: #000;
$on-tertiary: #fff;
$on-negative:#fff;
$on-plain: $primary;

$mad: $negative;
$sad: $primary;
$glad: $secondary;