name: CI

on:
  pull_request:

jobs:
  cicd:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Install
      run: npm install
    - name: Lint
      run: npm run lint
    - name: Audit
      run: npm audit --production
    - name: Build
      run: npm run build
