name: CI/CD

on:
  pull_request:
  push:
    branches:
    - master

jobs:
  ci:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: Install
      run: npm install
    - name: Lint
      run: npm run lint
    - name: Audit
      run: npm audit --production
    - name: Build
      run: npm run build
    - name: Archive Production Artifact
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: build

  cypress:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    strategy:
      matrix:
        browser:
          - chrome
          # - firefox
        viewport: ["viewportWidth=375,viewportHeight=667", "viewportWidth=1280,viewportHeight=800"]
    services:
      backend:
        image: gcr.io/retrotools-284402/retrograde:latest
        env:
          PORT: 8000
          ALLOWED_ORIGIN: http://localhost:5000
          RUST_LOG: info
          ENVIRONMENT: development
          GCP_SERVICE_ACCOUNT_JSON: ${{ secrets.GCP_ACCOUNT_CREDENTIALS }}
        ports:
          - 8000:8000
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - uses: cypress-io/github-action@v2
      with:
        build: env BUILD_ENV=development npm run build
        start: npm start
        browser: ${{ matrix.browser }}
        config: ${{ matrix.viewport }}
    - name: Dump docker logs
      if: always()
      uses: jwalton/gh-docker-logs@v1

  cd:
    runs-on: ubuntu-latest
    needs:
      - ci
      - cypress
    if: "!contains(github.event.head_commit.message, '[skip ci]') && github.ref == 'refs/heads/master'"
    steps:
    - uses: actions/checkout@v1
    - name: Download Artifact
      uses: actions/download-artifact@v2
      with:
        name: build
        path: build
    - name: Deploy
      uses: w9jds/firebase-action@master
      with:
        args: deploy --only hosting
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
